{% extends "layout.html.twig" %}
{% block title %}Page détail - {{meme.name}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row m-0 p-0">
            <div class="detailBlock">
                <h1 class="titleDetailPage">{{meme.name}}</h1>
                <hr class="my-3">
                <img class="img m-auto" src="{{meme.illustration_image_url}}" alt="Card image cap">
            </div>
        </div>
        <div class="row p-0 m-0">
            <div class="col-md-6">
                <div class="card-form p-0">
                    <form class="signup" action="" method="post">
                        <div class="form-title"><p class="p-0 m-0">Souhaitez-vous commenter ce Meme ?</p></div>
                        <div class="form-body">
                        <div class="row">
                            <input type="text" id="pseudo" name="pseudo" placeholder="Nom du Meme*">
                        </div>
                        <div class="row">
                            <textarea class="form-control" name="comment" id="floatingTextarea2" style="height: 100px"></textarea>
                        </div>
                        </div>
                        <div class="rule"></div>
                        <div class="form-footer">
                        <button type="submit" name="addComment" class="buttonShare">Partager le Meme</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                {% for comment in comments %}
                    <div class="commentBlock mt-0">
                        <p class="titleComment">{{comment.name}}</p>
                        <hr>
                        <p>{{comment.comment}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

